html {
	background-color: $bodyBgColor;
}

body {
	background-color: $bodyBgColor;
}

.navbar {
	background-color: $navbarBgColor;
	border-bottom: 0;
}

.navbar .site-name {
	color: $brandColor !important;
}

.navbar .links {
	background-color: transparent !important;
}

.sidebar {
	background-color: $sidebarBgColor;
	border-right: 0;
}

.sidebar-heading {
	text-transform: uppercase;
	font-size: 12px !important;
	font-weight: 800 !important;
	letter-spacing: 0.01rem;
	color: $subtitleColor !important;
}

h1, h2, h3, h4, h5 {
	border-bottom: 0;
	color: $titleColor;
}

tr:nth-child(2n) {
  background-color: transparent;
}
