$brandColor = #94c1ff;

$bodyBgColor = #2a313c;
$navbarBgColor = #1b2229;
$sidebarBgColor = #1b2229;

$titleColor = #fff;
$subtitleColor = #dcddde;
$textColor = #b9bbbe;
$accentColor = $brandColor;

$borderColor = transparent;

$borderColor = #808388
$codeBgColor = #282c34
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA596
